.pmpro_affiliates-table-container {
	background-color: white;
	width: 100%;
	margin: 30px auto;
	border: 1px solid #D6D6D6;
}
.pmpro_affiliates-table-container .row-item {
	font-size: 14px;
	overflow: scroll;
}
.pmpro_affiliates-table-container .table-row {
	width: 100%;
	border-bottom: 1px solid #D6D6D6;
}
.pmpro_affiliates-table-container .table-row-heading {
	background-color: #EFEFEF;
	color: #3E3E3E;
	font-weight: bold;
}
.pmpro_affiliates-table-container .row-item {
	font-size: 14px;
	overflow: scroll;
}
.pmpro_affiliates-table-container .table-row:last-child {
	border-bottom: 0;
}

/** Featured Table (Previously Commissions Table) **/
.pmpro_affiliates-table-container.pmpro_affiliates-featured .table-row-heading{
	text-align: right;
}
.pmpro_affiliates-featured .table-row-body .row-item {
	font-size: 20px;
	font-weight: 700;
}
.pmpro_affiliates-table-container.pmpro_affiliates-featured {
	display: flex;
	flex-direction: row;
}
.pmpro_affiliates-table-container.pmpro_affiliates-featured .row-item {
	padding: 12px;
}

/** Orders Table **/
.pmpro_affiliates-table-container.pmpro_affiliates-orders .table-row-heading {
	display: none;
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .table-row-body {
	padding: 12px;
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .table-row-body:nth-child(odd) {
	background-color: #F8F8F8;
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item {
	justify-content: initial;
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item:first-child {
	font-weight: bold;
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item:after {
	content: ", ";
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item:last-child:after {
	content: "";
}
.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item {
	display: inline;
}

@media only screen and (min-width: 769px) {
	.pmpro_affiliates-table-container {
		flex-flow: column wrap;
	}
	.pmpro_affiliates-table-container .table-row {
		display: flex;
		flex-flow: row wrap;
	}
	.pmpro_affiliates-table-container.pmpro_affiliates-featured .table-row-heading {
		text-align: center;
	}
	.pmpro_affiliates-table-container .row-item {
		display: flex;
		flex: 1;
		align-items: center;
	}
	.pmpro_affiliates-table-container.pmpro_affiliates-featured .row-item {
		justify-content: center;
	}
	.pmpro_affiliates-table-container.pmpro_affiliates-orders .table-row-heading {
		display: flex;
	}
	.pmpro_affiliates-table-container.pmpro_affiliates-orders .table-row-body {
		padding: 0;
	}
	.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item {
		padding: 12px;
	}
	.pmpro_affiliates-table-container.pmpro_affiliates-orders .row-item:after {
		content: "";
	}
}

/** Create Links **/
.pmpro_affiliates-links {
	border: 1px solid #D6D6D6;
	margin: 30px auto;
	padding: 30px;
}
.pmpro_affiliates-links h2 {
	margin: 0;
	padding: 0;
}
.pmpro_affiliates-links p {
	margin: 30px 0 0 0;
	padding: 0;
}

/** Report Navigation **/
.pmpro_affiliates-actions_nav {
	margin-bottom: 60px;
}
